
p {
    margin-left: 50px;
}

.gifBtn {
    margin: 10px;

}

#favs {
    z-index: 0;
    background: lightgray;
}

#search {
    padding-top: 50px;
}

#gifs {
    z-index: 1;
    float:left;
}

.item {

}

.checkbox {
    margin: 10px;
}

.gif {
    
}